body{
  font-family: "Montserrat";
}

#title{
  background-color: #FF8C8C;
  color: white;

}

.title-image{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.container-fluid{
  padding: 3% 15% 7%;
}

h1{
  font-family: 'Montserrat-Black', sans-serif;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: bold;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
}

#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.features-box {
  text-align: center;
}

.features-icon{
  color: #FFC3C3;
  font-size: 50px;
  padding-bottom: 5%;
}

.features-icon:hover{
  color:  #FF8C8C;

}

h2{
  font-family: "Montserrat-bold";
  line-height: 1.5;
  font-size: 3rem;
}

/*Testimonial section*/

#testimonials{

  text-align: center;
  background-color: #FFC3C3;
  color: white;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image{
  width: 10% ;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #FFC3C3;
  text-align: center;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
   margin: 20px 20px 50px;
}

/* pricing */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA section */

#cta {
  background-color: #FF8C8C;
  color: white;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat-Black";
  line-height: 1.5;
  font-size: 3.5rem;
}

.button-cta{
  margin-left: 10px;
  margin-right: 10px;
}

/* footer section */

#footer {
  padding: 4% 10%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    transform: rotate(0);
    position: static;
  }
}
